#userGrid{
  margin-top: 59px;
  margin-left: 59px;
  width: 660px;
  height: 660px;
  background: #778899;
}

.coord{
  position: absolute;
  width: 58px;
  height: 58px;
  border: 1px solid #000000;
  text-align: center;
  line-height: 60px;
}

.ref{
  position: absolute;
  width: 58px;
  height: 58px;
  border: 1px solid #000000;
  text-align: center;
  line-height: 60px;
  background: #696969;
}

.ship{
  position: absolute;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

.ship2{
  width: 58px;
}