#title{
  margin-top: 59px;
  margin-left: 59px;
  width: 1380px;
  height: 60px;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
}

#userGrid{
  position: relative;
  margin-top: 59px;
  margin-left: 59px;
  width: 660px;
  height: 660px;
  background: #778899;
}

#compGrid{
  position: absolute;
  top: 0;
  margin-top: 59px;
  margin-left: 779px;
  width: 660px;
  height: 660px;
  background: #778899;
}

.coord{
  position: absolute;
  width: 58px;
  height: 58px;
  border: 1px solid #000000;
  text-align: center;
  line-height: 60px;
}

.ref{
  position: absolute;
  width: 58px;
  height: 58px;
  border: 1px solid #000000;
  text-align: center;
  line-height: 60px;
  background: #696969;
}

.ship{
  position: relative;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

.compGuess{
  position: absolute;
  width: 58px;
  height: 58px;
  text-align: center;
  line-height: 60px;
  font-size: 40pt;
  font-weight: bold;
  color: #FFFFFF;
}

#carrier{
  width: 298px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#battleship{
  width: 238px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#cruiser{
  width: 178px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#submarine{
  width: 178px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#destroyer{
  width: 118px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#instructionBox{
  margin-top: 59px;
  margin-left: 59px;
  width: 1380px;
  height: 200px;
  font-size: 18pt;
}

#userTitle{
  position: absolute;
  top: 20px;
  margin-left: 59px;
  width: 660px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}

#compTitle{
  position: absolute;
  top: 20px;
  margin-left: 779px;
  width: 660px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}