#title{
  position: absolute;
  top: 45px;
  left: 25px;
  width: 100px;
  font-size: 22pt;
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
  text-orientation: upright;
  writing-mode: vertical-lr;
}

#userTitle{
  position: absolute;
  top: 20px;
  margin-left: 119px;
  width: 660px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
  line-height: 20px;
}

#compTitle{
  position: absolute;
  top: 20px;
  margin-left: 839px;
  width: 660px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
  line-height: 20px;
}

#userGrid{
  position: relative;
  margin-top: 59px;
  margin-left: 119px;
  width: 660px;
  height: 660px;
  background: #778899;
}

#compGrid{
  position: absolute;
  top: 0;
  margin-top: 59px;
  margin-left: 839px;
  width: 660px;
  height: 660px;
  background: #778899;
}

.userCoord{
  position: absolute;
  width: 58px;
  height: 58px;
  border: 1px solid #000000;
  text-align: center;
  line-height: 60px;
}

.compCoord{
  position: absolute;
  width: 58px;
  height: 58px;
  border: 1px solid #000000;
  text-align: center;
  line-height: 60px;
}

.refCoord{
  position: absolute;
  width: 58px;
  height: 58px;
  border: 1px solid #000000;
  text-align: center;
  line-height: 60px;
  background: #696969;
}

.compGuess{
  position: absolute;
  width: 58px;
  height: 58px;
  text-align: center;
  line-height: 60px;
  font-size: 40pt;
  font-weight: bold;
  color: #FFFFFF;
}

#carrier{
  width: 298px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#battleship{
  width: 238px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#cruiser{
  width: 178px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#submarine{
  width: 178px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#destroyer{
  width: 118px;
  position: absolute;
  top: 60px;
  left: 60px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #C0C0C0;
}

#shipsUser{
  position: absolute;
  margin-left: 119px;
  margin-top: 10px;
  width: 659px;
  height: 70px;
  text-align: left;
  font-size: 16pt;
  font-family: 'Oswald', sans-serif;
  background: #C0C0C0;
  border: 1px solid #000000;
}

#shipsComp{
  position: absolute;
  margin-left: 839px;
  margin-top: 10px;
  width: 659px;
  height: 70px;
  text-align: left;
  font-size: 16pt;
  font-family: 'Oswald', sans-serif;
  background: #C0C0C0;
  border: 1px solid #000000;
}

#leaderboard{
  position: absolute;
  top: 60px;
  margin-left: 1510px;
  width: 250px;
  height: 320px;
  overflow-y: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 16pt;
  background: #C0C0C0;
  border: 1px solid #000000;
  padding: 5px;
}

#instructionBox{
  margin-top: 120px;
  margin-left: 119px;
  width: 1380px;
  height: 60px;
  font-size: 18pt;
  font-family: 'Oswald', sans-serif;
}

#newGame{
  margin-left: 119px;
  font-size: 16pt;
  font-family: 'Oswald', sans-serif;
}

#enterName{
  position: absolute;
  margin-left: 119px;
  top: 895px;
  font-size: 18pt;
  font-family: 'Oswald', sans-serif;
  visibility: hidden;
}